<!DOCTYPE html>
<html lang="en">
<head>
  <title>{% block title %} {% endblock %} | WLNet DataView</title>
  <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="/static/css/styles.css" />
  <script src="//code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="/static/js/bootstrap.min.js"></script>
  <script src="/static/js/dataview.js"></script>
  <script src="/static/js/portal.js"></script>
</head>
{% block content %}
{% endblock %}
</html>
