requests
psycopg2
python-dateutil
django==1.11.8
django-filter
django-formtools
django-floppyforms
# https://github.com/django-guardian/django-guardian/issues/387
django-guardian==1.3.2
django-bootstrap3
django-bootstrap-navtags
djangorestframework
Pillow
# for icalendar decider
icalendar
# for oauth suport
django-oauth-toolkit
