{% extends "basic-portal.html" %}

{% block content %}
<h2>Automation Controls</h2>

<h3>Getting Started</h3>
<ol>
  <li>Create Automators to perform the operations you wish to automate</li>
  <li>Determine the conditions under which you want the automator to be called</li>
  <li>Setup deciders for each of the conditions under 2.</li>
  <li>Setup a controller with the deciders and automators determined above</li>
</ol>

<h3>Automators</h3>

<h3>Deciders</h3>

<h3>Controllers</h3>

{% endblock %}