{% extends "base.html" %}
{% block title %}Welcome{% endblock %}
{% block content %}
<div class="container">
<div style="margin: 0 auto; max-width:450px; padding: 15px;">
    <h1>Welcome to Dataview</h1>
    <p>Ready to install Dataview? The installer will guide you through a series of questions in order to determine how best to setup Dataview for you.<br><strong>Don't worry</strong>: You can always go back a page.</strong></p>
    <a href="/installer/install" class="btn btn-lg btn-primary btn-block">I'm Ready</a>
</div>
</div>
{% endblock %}