{% extends "basic.html" %}

{% block content %}
  <div class="dataview-infobar well well-exsm">
    <h1><span class="current-time">{{datetime_now|date:'l, F j'}} &ndash; {{datetime_now|date:'H:i:s'}}</span></h1>
  </div>
  <div class="widgets">
  {% for widget in widgets %}
    <div class="widget widget-{{widget.internal_name}} {{widget.position}}" style="padding:0;">
      <div class="heading" data-title="{{widget.name}}">
        {% include widget.template_path %}
      </div>
    </div>
  {% endfor %}
  </div>
{% endblock %}